<!DOCTYPE html>
<html>
	<head>
		<title>CiachCiach</title>
		<script src='/js/jquery.min.js'></script>
		<script src='/js/socket.io.min.js'></script>
		<script src='/js/scripts.js'></script>
		<style>
			#canvas {
				display: block;
				margin: 0px auto;
				width: 440px;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<canvas id="canvas" width="440" height="440"></canvas>
	</body>
</html>