<!DOCTYPE html>
<html>
	<head>
		<title>CiachCiach</title>
		<script src='/js/socket.io.min.js'></script>
		<script src='/js/scripts.js'></script>
		<style>
			#canvas {
				display: block;
				margin: 0px auto;
				width: 500px;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<canvas id="canvas" width="400" height="400"></canvas>
	</body>
</html>